<div style="border: 0.8rem solid black; padding:20px 20px 0; margin-bottom: 20px">
  <p><strong>IMPORTANT NOTICE</strong>: DO NOT REPORT VULNERABILITIES SOLELY TO THE AUTHOR OR MARKETPLACE.</p>
  <p>We urge you to report any vulnerabilities directly to us. Our mission is to ensure the safety and security of the PrestaShop ecosystem. Unfortunately, many module developers may not always recognize or acknowledge the vulnerabilities in their code, whether due to lack of awareness, or inability to properly evaluate the associated risk, or other reasons.</p>
  <p>Given the rise in professional cybercrime networks actively seeking out these vulnerabilities, it's crucial that any potential threats are promptly addressed and the community is informed. The most effective method to do this is by publishing a CVE, like the one provided below.</p>
  <p>Should you discover any vulnerabilities, <strong>please report them to us at: report[@]security-presta.org</strong> or visit <a href="https://security-presta.org/">https://security-presta.org</a> for more information.</p>
  <p>Every vulnerability report helps make the community more secure, and we are profoundly grateful for any information shared with us.</p>
</div>
